.modal {
    width: 300px;
    height: max-content;
	max-height: 600px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: rgba(25,25,33,.7);
    z-index: 100;
    font-family: 'Noto Sans', sans-serif;
    /* display: none; */
}

.modal h2 {
    color: #000;
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255, .8);
    padding: 10px 0;
}

.img-container {
    width: 75%;
    margin: 0 auto;
}

.modal img {
    width: 100%;
    height: 100%;
}

#description {
    font-size: 11px;
    line-height: 1.5;
}

.modal-close
{
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.modal #description
{
	height: max-content;
}

.modal #m_desc_wrapper
{
	height: 200px;
	overflow-y: scroll;
}

