@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');

body
{
	overflow-x: hidden;
	/*background-color: #191a1f;*/
	/*background: #25293d;*/
	background-color: rgb(26, 26, 35);
}

.logo
{
	position: fixed;
	top: 45px;
	left: 80px;
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
	color: white;
	border-bottom: 1px solid rgb(255,255,255,0.1);
	width: calc(100vw - 180px);
	height: 30px;
	line-height: 30px;
	padding-bottom: 15px;
	z-index: 15;
	mix-blend-mode: exclusion;
}

.top-button
{
	position: fixed;
	top: 45px;
	right: 80px;
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
	color: white;
	width: max-content;
	height: 30px;
	line-height: 30px;
	padding-bottom: 15px;
	z-index: 15;
	mix-blend-mode: exclusion;
	cursor: pointer;
	overflow: hidden;
	transition: color ease-out 300ms;
}

.top-button:hover
{
	color: rgb(25, 25, 33);
}

.top-button:before
{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: white;
	transition: transform ease-out 300ms;
	transform: translateY(-100%);
	z-index: -5;
}

.top-button:hover:before
{
	transform: translateY(0px);
}

.top-button:after
{
	content: ' ';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	border-bottom: 3px solid gray;
	transform: translateY(-100%);
	transition: transform ease-out 300ms;
}

.top-button:hover:after
{
	transform: translateY(0px);
}



#footer
{
	position: relative;
	height: max-content;
	background: rgb(25, 25, 30);
	padding-top: 40px;
	padding-bottom: 50px;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	color: #7b7b7b;
	line-height: 1;
	display: flex;
	width: 100%;
	text-align: center;
}

.michael,
.steven {
	width: 100%;
}

.michael {
	border-right: 1px solid #fff;
}

.michael .name {
	width: 100%;
}

.michael .name {
	white-space: nowrap;
}

.card {
	width: 50%;
	margin: 0 auto;
}

.img {
	width: 50%;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}

.card img {
	width: 100%;
	height: auto;
	display: block;
}

.name h2 {
	color: #fff;
}

a {
	font-size: 20px;
}

.fab {
	font-size: 50px;
	color: #7b7b7b;
	margin: 0 20px;
}

.fa-github:hover {
	color: #E25C33;
	font-size: 60px;
}

.fa-linkedin:hover {
	color: #E25C33;
	font-size: 60px;
}

@media all and (max-width: 750px) {
	#footer {
		display: block;
	}
	.michael {
		margin-bottom: 50px;
	}
}

@media all and (max-width: 1067px) {
	.michael .name h2 {
		white-space: normal;
	}
}









/*
#footer a
{
	text-decoration: none;
	color: #7b7b7b;
	font-weight: normal;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	transition: color ease-out 250ms;
}

#footer a:hover
{
	text-decoration: underline;
	color: white;
}

.footer-sidebar:hover, .footer-main:hover
{
	color: white;
}

#footer ul
{
	list-style-type: none;
	padding-left: 0;
	line-height: 150%;
}

#footer header
{
	padding-left: 5%;
	height: 50px;
	color: white;
}

.footer-flexbox
{
	display: flex;
	width: 100%;
	height: 150px;
}

.footer-sidebar
{
	order: 1;
	flex: 1;
    flex-basis: auto;
    padding-left: 7%;
    min-height: 150px;
	font-weight: bold;
	transition: color ease-out 250ms;
}

.footer-main
{
	order: 1;
	flex: 5;
    padding-left: 5%;
	font-weight: bold;
	transition: color ease-out 250ms;
}

*/






